<div class="wrapper">
    <div class="body">
      <div class="search-bar">
        <form class="form-inline">
          <input class="form-control form-control-sm ml-3 w-75" (ngModelChange)="onKey($event)" [(ngModel)]="searchInput" name="searchInput" type="text" placeholder="Search Location"aria-label="Search" >          
          <i class="fas fa-search" aria-hidden="true" (click)="clickOnSearch()"></i>
          <div class="filter-parent">
            <!--  <div class="filter" data-aos-duration="1000" data-aos="fade-up">hai</div> -->
        </div>
        </form>
    </div>
    <div class="days-collection">
      <div class="card" *ngFor="let day of weatherDetails" #el (click)="onSelectDay(day)" >
          <div class="day-name">
            {{day.day}}     
          </div>
          <div class="temp">
            {{day.temp}}&#8304;
          </div>
          <div class="img" >
            <img *ngIf="day.img == 'Clouds'" src="../assets/icons/small/cloudy.png" alt="">
            <img *ngIf="day.img == 'Clear'" src="../assets/icons/small/sun.png" alt="">
            <img *ngIf="day.img == 'Rain'" src="../assets/icons/small/rain.png" alt="">
          </div>
          <div class="current">
            {{day.current}} testing changes
          </div>
      </div>
    </div>
    <div class="card graph-main">
        <div class="heading" *ngFor="let graph of graphDetails">
            <div class="temp">
                {{graph.temp}} &#730;	&#8490;
            </div>
            <div class="img">
              <img *ngIf="graph.img == 'Clear'" src="../assets/icons/small/sun.png" alt="">
              <img *ngIf="graph.img == 'Clouds'" src="../assets/icons/small/cloudy.png" alt=""> 
              <img *ngIf="graph.img == 'Rain'" src="../assets/icons/small/rain.png" alt=""> 
            </div>
        </div>
        <div class="graph1">
            <div *ngIf="chart">
              <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </div>
        <div class="properties" *ngFor="let graph of graphDetails">
            <div>
                <p>Pressure</p>
                <p> {{graph.pressure}}hpa</p>
            </div>
            <div>
                <p>Humidity</p>
                <p>{{graph.humidity}}%</p>
            </div>
        </div>
        <div class="graph2">
          <div *ngIf="chart2">
            <canvas id="canvas1">{{ chart }}</canvas>
          </div>
        </div>
    </div>
  </div>
</div>
