/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Lato', sans-serif;
}
.filter{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    margin-left: 16px;
    margin-top: 5px;
    width:47em;
    height:2.5em;
    box-shadow: 0px 2px 5px rgb(201, 192, 192);
    padding-left: 1em;
    .name-of-city{
        width: 85%;
       padding-left: 1em;
    }
    .flex-div{
        display: flex;
        flex-direction: column;
            p{
                  margin: auto;
                  text-align: right;
                  padding-right: 5px;
            }
            .temp{
                font-size: 10px;
                margin: 1px;
                padding-right: 5px;
            }
    }
}
@media(max-width:768px){
    .filter{
        margin-left: 16px;
        width: 18em;
    }
}